/*001*/
body{
    background-color:white;
    color:black;
}

/*001*/
h1{
    text-align:center;
	background-color:white;
    color: black;
}

/*001*/
section {
    margin: 2em;
    border: 0.125em #000000 solid;
    background-color: #94d3b1;
    color:#000000;
}