/*001*/
body{
    background-color:white;
    color:black;
}

/*001*/
h1{
    text-align:center;
	background-color:white;
    color: black;
}

/*100*/
#map {
    height: 500px;
    width: 600px;
    border: thin solid #333;
}

